html,body, #root{
  width:100%;
  height:100%;
}

@media (max-width: 575.98px) {

}

@media (min-width: 576px) and (max-width: 767.98px) {

}

@media (min-width: 768px) and (max-width: 991.98px) {

}

@media (min-width: 992px) and (max-width: 1199.98px) {

}
@media (min-width: 1200px) {

}

.wrongContentWrapper{
  background-image: linear-gradient(to bottom, #0056a4, #2b7bc3 67%, #7ba3c8);
  min-height:100%;
  height:100%;
}

.section-class-container{
  width: 100%;
  height:100%;
}
.wrong-id-class-container{
  display:flex;
  align-items: center;
  justify-content: center;
  width: 320px;
  height: 280px;
  flex-direction: column;
  background: white;
  border-radius: 25px;
}
.wrong-id-class-message{
  color: gray;
  padding-top:20px;
}
.cursor-pointer{
  cursor: pointer;
}

.wrongContainerWrapper{
  display:flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height:100%;
}

.btn-toolbar-fixed{
  position: fixed;
  bottom:0px;
}

.next-previous-class{
  width:120px;
  margin: 10px;
}